billing_account  = "billing_account"
gcp_project_name = "ft-iac-quatre"
gcp_region       = "US"
machine_type     = "small"
alert_email      = "transsecnd.i7c02@slmail.me"
domain_name      = "sanitraq.fr"
subdomain        = "quatre"
ovh_app_key      = ""
ovh_app_secret   = ""
ovh_consumer_key = ""
